# package directories
/node_modules

# Serverless directories
.serverless

# TSC results
dist

# test
/coverage
/test-reports
junit.xml
test-report.xml

#history
/.history
#
# IDE
/.idea
/.awcache
/.vscode
/.idea

# OS
/.DS_Store

